<div class="container">
  <label class="switch">
    <input type="checkbox" [(ngModel)]="showFavorites">
    <span class="slider"></span>
  </label>
  <span>{{ showFavorites ? 'Mostrar Episodios' : 'Mostrar Favoritos' }}</span>

  <div *ngIf="!showFavorites">
    <h2>Episodios</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre del Episodio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let episode of episodes; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ episode.name }}</td>
          <td>
            <button class="btn btn-primary" (click)="fetchCharacters(episode.characters)">
              Ver Personajes
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal de información del personaje -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h2>Detalles del Personaje</h2>
      <img [src]="selectedCharacter?.image" alt="{{ selectedCharacter?.name }}" />
      <p><strong>Nombre:</strong> {{ selectedCharacter?.name }}</p>
      <p><strong>Status:</strong> {{ selectedCharacter?.status }}</p>
      <p><strong>Especie:</strong> {{ selectedCharacter?.species }}</p>
      <p><strong>Género:</strong> {{ selectedCharacter?.gender }}</p>
      <p><strong>Origen:</strong> {{ selectedCharacter?.origin?.name }}</p>
      <p><strong>Ubicación actual:</strong> {{ selectedCharacter?.location?.name }}</p>
      <button class="btn btn-danger" (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</div>
