<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre del Episodio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let episode of episodes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ episode.name }}</td>
        <td>
          <button class="btn btn-primary" (click)="fetchCharacters(episode.characters)">
            Ver Personajes
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
